.App {
  background-color: #F5F5F5;
  margin-bottom: 0;
}

.appContainer {
  background-color: white;
}

/* nav bar styles */
.navBar {
  display: flex;
  height: 15vh;
  padding: 0px 10px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px #adabab;
  align-items: center;
}

hr {
  color: #f7f6f6;
}

.navLogo {
  display: flex;
}
.navLogo img{
  height: 50px;
  margin-top: 10px;
}

.navLogo h1{
  color: #46439A;
}
.allCategories{
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1%;
  padding:0px 15px;
  background-color: #358DC7;
  color: white;
}
.fa-bars {
  margin-left: 20px;
  font-size: 20px;
}
.topDeals,.topProducts,.topCat{
  margin-left:20px;
  color: #5E5E5E;
  font-weight: 500;
}
a{
  text-decoration: none;
  color: #5E5E5E;
}


/* HOME STYLES */
.homecover {
  top: 0;
  background-image: url("./images/banner-image-tall.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 3%;
  height: 80vh;
}


.homecover p {
  font-size: 30px;
  /* font-weight: 0; */
}

/* SEARCH BAR STYLES */
.searchBar{
  border: 1px solid;
  height: 50px;
}

.searchHere {
  height: 100%;
  width: 30%;
  /*
  height: 35px;
  border-radius: 5px;
  border: 1px solid grey;
  padding-left: 15px;
  box-shadow: 1px 1px 10px 10px #ececec; */
}

.search {
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  /*height: inherit;
  height: 39px;
  margin-left: -7%;
  font-size: 15px;
  background-color: rgb(238, 153, 91);
  color: white;
  border: none;
  border-radius: 0px 5px 5px 0px; */
}

.itemsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 15px;
}

/* top categories */
.itemCard {
  border: 1px solid #ECECEC;
  text-align: center;
  padding-bottom: 10px;
  margin-left: 40px;
  padding: 10px;
}

.itemCard p {
  color: #82ACDA;
}

.itemCard img {
  border: 1px solid #e0dddd;
  padding: 5px;
}

.topdealsImg {
  height: 20vh;
}

.price{
  color: #F58B56;
}

/* Footer */
.footer {
  background-color: #0B0A28;
  margin-top: 20px;
  display: flex;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.8rem;
  padding-left: 18%;
  padding-right: 18%;
  justify-content: space-between;
}


.list {
  color: #8d8989;
  font-size: 12px;
  list-style: none;
}

.aboutlink img{
  height: 25px;
}

.heading{
  color: white;
  list-style: none;
  font-size: 12px;

}
/* lower footer */
.lowerfooter {
  width: 70%;
  margin: auto;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.lowerfooter p {
  font-size: 12px;
  line-height: 1.5rem;
  color: #8d8989;
}

.copyright {
  background-color: #8E8E91;
  color: white;
  text-align: center;
  font-size: 12px;
  bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}