.App {
  background-color: #F5F5F5;
  margin-bottom: 0;
}

.appContainer {
  background-color: white;
}

/* nav bar styles */
.navBar {
  display: flex;
  height: 15vh;
  padding: 0px 10px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px #adabab;
  align-items: center;
}

hr {
  color: #f7f6f6;
}

.navLogo {
  display: flex;
}
.navLogo img{
  height: 50px;
  margin-top: 10px;
}

.navLogo h1{
  color: #46439A;
}
.allCategories{
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1%;
  padding:0px 15px;
  background-color: #358DC7;
  color: white;
}
.fa-bars {
  margin-left: 20px;
  font-size: 20px;
}
.topDeals,.topProducts,.topCat{
  margin-left:20px;
  color: #5E5E5E;
  font-weight: 500;
}
a{
  text-decoration: none;
  color: #5E5E5E;
}

.cartsection{
  margin-left: auto;
  margin-right: 40px;
  padding:33px 13px;
  border-radius: 50%;
  background-color: #86b7d8;
  font-size: 25px;
  color: white;
}


.cartsection span{
  border: 1px solid white;
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  margin-top: -50px;
  margin-left: 25px;
  color: white;
}
/* HOME STYLES */
.homecover {
  top: 0;
  background-image: url("./images/banner-image-tall.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 3%;
  height: 80vh;
}


.homecover p {
  font-size: 30px;
  /* font-weight: 0; */
}

/* SEARCH BAR STYLES */
.searchBar{
  /* border: 1px solid; */
  border-radius: 0px 5px 5px 0px; 
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.dropDown{
  height: 100%;
  border: 1px solid #e0dfdf;
  border-right: none;
  background-color: #FfFfFF;
  padding: 0px 0px 0px 25px;
  border-radius: 5px 0px 0px 5px;

}

option{
  text-transform: capitalize;
  font-size: 13px;
}
.searchHere {
  width: 30%;
  border: 1px solid #e0dfdf;
  border-right: none ;
  border-left: none ;
  width: 35%;
  padding: 0px 20px;
  font-size: 15px;  
}

.search {
  border: none;
  padding: 0px 30px;
  color: white;
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(237, 153, 92);
}

.itemsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 15px;
}

/* top categories */
.itemCard {
  border: 1px solid #ECECEC;
  text-align: center;
  padding-bottom: 10px;
  margin-left: 40px;
  padding: 10px;
}

.itemCard p {
  color: #82ACDA;
}

.itemCard img {
  border: 1px solid #e0dddd;
  padding: 5px;
}

.topdealsImg {
  height: 20vh;
}

.price{
  color: #F58B56;
}

/* Footer */
.footer {
  background-color: #0B0A28;
  margin-top: 20px;
  display: flex;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.8rem;
  padding-left: 18%;
  padding-right: 18%;
  justify-content: space-between;
}


.list {
  color: #8d8989;
  font-size: 12px;
  list-style: none;
}

.aboutlink img{
  height: 25px;
}

.heading{
  color: white;
  list-style: none;
  font-size: 12px;

}
/* lower footer */
.lowerfooter {
  width: 70%;
  margin: auto;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.lowerfooter p {
  font-size: 12px;
  line-height: 1.5rem;
  color: #8d8989;
}

.copyright {
  background-color: #8E8E91;
  color: white;
  text-align: center;
  font-size: 12px;
  bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* error page */
.error--section{
  /* color: red; */
  margin: 13%;
  margin-left: 35%;
}


/* SIngle product css */
.itemContainerSingle{
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  width: 80%;
  margin: auto;
  margin-top:30px ; 
  background-color: white;
  padding: 10px 20px;
} 
.imageContainer{
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.imageContainer img{
  height: 80%;

}
.productDescription{
  margin-left: 10;
}
.fa-star{
  color: yellow;
}

.quantity button{
  padding: 0px 15px;
  margin:0px 10px;
}
.itemno{
  padding: 0px 5px;
}

.singleItemBtns{
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}
.singleItemBtns button{
  width: 80%;
  height: 100%;
  margin-right: 20px;
}
.singleItemBtns button :hover{
  background-color: #358DC7;
}
.singleDesc{
  font-size: 15px;
  font-size: 13px;
  font-weight: 300;
}
/* disclaimer */
.disclaimer{
  background-color: #B0AFAF;
  padding:10px 40px;
  padding-bottom:40px ;
  margin-bottom: -25px;
  margin-top: 20px;
  color: white;
}
.disclaimer p{
  font-size: 13px;
}

/* all products */
.allProducts{
  margin: 30px 0px;
}

